body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
}

/* Wrapper */
.wrapper {
    padding: 1%;
}

/* Site Header */
.site-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.site-header a {
    display: inline-block;
}
.header-logo {
    max-height: 60px; /* Adjust as needed */
}

/*--- navigation bar ---*/
.navbar {
    background: #50ce11;
}
.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: center;
}

/* Welcome Section */
.welcome-section {
    padding: 2em 0;
}
.welcome-section h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1em;
}
.welcome-section p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Event Section */
.event-section {
    padding: 2em 0;
    background-color: #f9f9f9;
}
.event-section h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1em;
}
.event-section p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: 400px;
}

/* Features Section */
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

/* Footer */
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.page-footer h6 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1em;
}
.page-footer p {
    color: #ccc;
    line-height: 1.5;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
    }
    .carousel-inner img {
        height: 200px;
    }
}

.occupied {
    background-color: red; /* Style pour les créneaux occupés */
}